{
    "name": "MudPi",
    "version": 0.7,
    "debug": false,
    "server": {
        "host": "127.0.0.1",
        "port": 6602
    },
    "redis": {
        "host": "127.0.0.1",
        "port": 6379
    },
    "relays": [
        {
            "name": "Relay 1",
            "pin": 5,
            "normally_open": true,
            "group": "group1",
            "topic": "mudpi/relays/1",
            "tag": "relay_1"
        }
    ],
    "sensors":[
        {
            "type":"Humidity",
            "pin": 25,
            "name":"Environment"
        }
    ],
    "nodes":[
        {
            "name": "node1",
            "address": "/dev/ttyUSB0",
            "sensors": [
                {
                    "pin": "5",
                    "type": "Soil",
                    "name": "Soil Moisture 1",
                    "key": "soil_moisture_sensor_1"
                },
                {
                    "pin": "4",
                    "type": "Soil",
                    "name": "Soil Moisture 2",
                    "key": "soil_moisture_sensor_2"
                }
            ]
        }
    ]
}
