{
    "name": "MudPi",
    "version": 0.7,
    "debug": false,
    "server": {
        "host": "127.0.0.1",
        "port": 6602
    },
    "redis": {
        "host": "127.0.0.1",
        "port": 6379
    },
    "relays": [],
    "sensors":[
        {
            "type":"Humidity",
            "pin": 25,
            "name":"Environment"
        }
    ],
    "nodes":[
        {
            "name": "slave1",
            "address": "/dev/ttyUSB0",
            "sensors": [
                {
                    "pin": "5",
                    "type": "Soil",
                    "name": "Soil Moisture",
                    "key": "garden_soil_moisture"
                }
            ]
        }
    ]
}
